@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-size-biggest: 4em;
    --font-size-big: 2.5em;
    --font-size-large: 1.75em;
    --font-size-medium: 1.15em;
    --font-size-normal: 1em;
    --font-size-small: .95em;
    --font-size-smaller: .25em;

}














* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

header {
    padding: 1rem 2rem;
}

.back-cinza {
    background-color: #F8F9FA;

}


/*===================================================== HEADER ===================================================== */
.nav_list {
    cursor: pointer;
    display: flex;
    list-style: none;
}

.nav_item {
    list-style: none;
    margin: 0 .1rem;
}

.nav_link {
    font-size: var(--font-size-normal);
    font-weight: 600;
    text-decoration: none;
}

.icon_extras{
    display: inline-block;
    font-size: var(--font-size-medium);
}






/*===================================================== HERO ===================================================== */
.coverimg-one {
    height: 500px;
    background: url('../images/back\ \(1\).png') no-repeat center/cover;
}

.coverimg-two {
    height: 500px;
    background: url('../images/back\ \(9\).png') no-repeat center/cover;
}

.coverimg-three {
    height: 500px;
    background: url('../images/back\ \(8\).png') no-repeat center/cover;
}




.services {
    background-color: #f2f2f2;
}

.service_icon {
    font-size: var(--font-size-biggest);
}











/*===================================================== SERVICES ===================================================== */
.grid_services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}




.pai_estabeleciment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.img_estabelciment {
    width: 100%;
}

.card_estabeleciment {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
}



/*===================================================== CAROUSEL SWIPER ===================================================== */

.card_list .card_item {
    list-style: none;
}

.card_list .card_item .card_link {
    user-select: none;
    margin: 0.2rem;
    display: block;
    padding: 18px;
    text-decoration: none;
    background: #746767;
    border-radius: 12px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    transition: .4s;
}

.card_list .card_item .card_link:active {
    cursor: grabbing;
}

.card_list .card_item .card_link:hover {
    border: 1px solid #612c2c;
    scale: 1.002;
}

.card_list .card_link .card_img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card_list .card_link .card_title {
    color: white;
    padding: 8px 16px;
    font-size: var(--font-size-medium);
    font-weight: 500;
    margin: 16px 0px 18px;
    background-color: #612c2c;
    width: fit-content;
    border-radius: 50px;
}

.card_list .card_link .card_text {
    font-size: var(--font-size-normal);
    font-weight: 400;
    color: black;

}


.card_list .card_link .card_btn {
    color: white;
    padding: 0 1rem;
    font-size: var(--font-size-medium);
    font-weight: 700;
    background-color: #612c2c;
    width: fit-content;
    border-radius: 50px;
    border: 2px solid white;
    transition: .6s;
}


.card_list .card_link .card_btn:hover {
    color: #612c2c;
    background-color: white;
}

.card-wrapper .swipper-pagination {
    height: 13px;
    width: 13px;
    opacity: .5;
    background-color: #612c2c;
}

.card-wrapper .swipper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: white;
    font-size: var(--font-size-normal);
    border-radius: 50px;
    opacity: .5;
    transition: .4s;
}

.card-wrapper .swiper-slide-button:hover {
    opacity: 85;
    scale: 1.004;
}














/*===================================================== FOOTER ===================================================== */
footer {
    background-color: #F8F9FA;
}








.nav_menu {
    font-size: var(--font-size-big);
    color: white;
}

.checkbtn {
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_item {
    list-style: none;
    margin: 0px 1rem;
}

.nav_link {
    color: white;
    text-decoration: none;
}



@media (max-width: 1440px) {

    .menudiv {
        flex-direction: row;
        padding: 0;
    }

    .form_control {
        width: 200px;
    }


    .nav_item {
        list-style: none;
        margin: 0px 1rem;
    }
}




@media screen and (max-width: 1240px) {

    .service-item {
        margin: 1rem 1rem;
    }
}



@media (max-width: 1024px) {
    .menudiv {
        padding: 0;
    }

    .nav_item {
        margin: 0 .6rem;
    }

    .pai_estabeleciment {
        grid-template-columns: repeat(1, 1fr);
    }

    .top_esta {
        flex-wrap: wrap;
    }

    .top_esta .mb-4 {
        flex: 1 1 calc(30% - 10px);
        display: flex;
    }

}





@media (max-width: 999px) {
    .checkbtn {
        display: block;
        margin-right: 12rem;
    }

    .nav_list {
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(33, 33, 33);
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .4s;
    }

    .nav_item {
        display: block;
        margin-bottom: .5rem;
        border: 1px solid #5f5f5f;
        padding: 1.2rem;
        border-radius: 10px;
        transition: .4s;
    }

    .nav_link {
        font-weight: 600;
        transition: .4s;
        font-size: var(--font-size-medium);
    }

    .nav_item:hover {
        background-color: rgb(25, 25, 25);
    }

    .logo{
        margin-left: 200px;
    }


    .extras_btn {
        display: none;
    }

    #check:checked~.nav_list {
        left: 0;
    }

    .grid_services {
        grid-template-columns: repeat(2, 1fr);

    }
    .top_esta .mb-4 {
        padding: 2rem 10rem;
        flex: 1 calc(85% - 100px);
    }

    .extras_btn_apply{
        width: 50%;
    }

}




@media (max-width: 978px) {
    header {
        padding: 0.5rem .3rem;
    }

    a.logo {
        font-size: var(--font-size-large);
    }

    .nav_link {
        font-size: var(--font-size-normal);
    }
    .top_esta .mb-4 {
        padding: 2rem 7rem;
        flex: 1 calc(85% - 100px);
    }
    
    
    .logo{
        margin-left: 0;
    }
}









@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0px 10px 25px;

    }


    .grid_services {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;

    }

    .service-item {
        margin: 1rem;
    }
    
    .top_esta .mb-4 {
        padding: 0 3rem;
        flex: 1 calc(85% - 100px);
    }
}


@media screen and (max-width: 400px) {
    .top_esta .mb-4 {
        padding: .4rem;
        flex: 1 calc(85% - 100px);
    }
}